.footer-element {
    margin: 0px;
    background-color: rgb(40, 35, 32);
    color: white;
    font-size: 20px;
    height: 300px;
    position: relative;
}

.footer-widescreen {
    width: 100%;
}

.footer-flex {
    display: flex;
}

.footer-title {
    font-size: 26px;
    color: white;
    margin-left: 4px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 35px;
    gap: 20px;
}

.footer-links {
    text-decoration: underline;
    margin-left: auto;
    color: rgb(147, 144, 144);
    font-size: 16px;
    gap: 15px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-fineprint {
    color: rgb(147, 144, 144);
    position: absolute;
    bottom: 8px;
    margin-left: 4px;
    line-height: 6px;
}

.footer-waterloo {
    width: 196px;
    height: 30px;
}

@media (max-width: 685px) {
    .footer-fineprint {
        font-size: 12px;
    }

    .footer-waterloo {
        width: 163px;
        height: 25px;
    }
  }
  
  @media (min-width: 685.02px) {
    .footer-fineprint {
        font-size: 14px;
    }
  }