/* Header - 685px */
.header-container {
    height: 500px;
}

.header-widescreen {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.header-title-element {
    font-size: 32px;
    margin-left: 10px;
}

.links {
    align-items: center;
    font-size: 19px;
}

.headerImages {
    margin-right: 5px;
}

@media (max-width: 685px) {
    .header-widescreen {
        display: none;
    }

    .header-mobile {
        display: flex;
    }
}

@media (min-width: 685.02px) {
    .header-widescreen {
        display: flex;
    }

    .header-mobile {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}