/* Header - 685px */
.header-container {
    height: 600px;
}

.header-widescreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.header-title-element {
    font-size: 32px;
    margin-left: 10px;
}

.links {
    justify-self: center;
    font-size: 19px;
}

.headerImages {
    justify-self: end;
    padding-top: 4px;
}

.header-central-title {
    color: rgb(231, 230, 230);
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin-top: 230px;
}

.header-mobile {
    grid-template-columns: 1fr 1fr;
}

.header-dropbar {
    justify-self: end;
    padding: 8px;
    padding-right: 14px;

    position: relative;
    display: inline-block;
}

.dropDownImg {
    cursor: pointer;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-links a:hover {
    background-color: #ddd;
  }

  .header-dropbar:hover .dropdown-links {
    display: block;
}

.header-mobile-images {
    display: grid;
    grid-template-columns: auto 49px;
}

.mobile-header-link {
    justify-self: end;
    padding-top: 8px;
}

@media (max-width: 850px) {
    .header-widescreen {
        display: none;
    }

    .header-mobile {
        display: grid;
    }

    .header-title-element {
        padding: 8px;
    }
}

@media (min-width: 850.02px) {
    .header-widescreen {
        display: grid;
    }

    .header-mobile {
        display: none;
    }

    .header-title-element {
        padding: 0px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}