/* Header - 685px */
.header-container {
    height: 500px;
}

.header-widescreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.header-title-element {
    font-size: 32px;
    margin-left: 10px;
}

.links {
    justify-self: center;
    font-size: 19px;
}

.headerImages {
    margin-right: 5px;
    justify-self: end;
}

.header-central-title {
    color: rgb(204, 198, 198);
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

@media (max-width: 685px) {
    .header-widescreen {
        display: none;
    }

    .header-mobile {
        display: grid;
    }
}

@media (min-width: 685.02px) {
    .header-widescreen {
        display: grid;
    }

    .header-mobile {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}