* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 4px;
}

body {
    background-color: rgb(0, 0, 0);
}

/* Header - 685px */
.header-widescreen {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    animation: fade-in 1.2s;
}

a {
    color: white;
    text-decoration: none;
}

.header-title-element {
    font-size: 32px;
    margin-left: 10px;
}

.links {
    align-items:center;
    font-size: 19px;
}

.headerImages {
    margin-right: 5px;
}

.main-header-element {
    font-size: 22px;
    margin-inline-start: 80px;
    font-weight: 3px;
    text-decoration: underline;
}

.main-projects {
    text-decoration: none;
    color: black;
    width: 100%; /* Use viewport width for full screen */
    margin: 0px; /* Remove all margins */
    background-color: white;
    height: 500px;
}

.main-about {
    text-decoration: none;
    color: white;
    width: 100%; /* Use viewport width for full screen */
    margin: 0px; /* Remove all margins */
    background-color: rgb(68, 92, 121);
    height: 500px;
}

.footer-element {
    margin: 0px;
    background-color: rgb(40, 35, 32);
    color: white;
    font-size: 20px;
    height: 300px;
}

.footer-widescreen {
    width: 100%;
}

.footer-title {
    font-size: 26px;
    color: white;
}

.footer-links {
    text-decoration: underline;
    margin-left: auto;
    color: rgb(147, 144, 144);
    font-size: 16px;
    gap: 15px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-fineprint {
    color: rgb(147, 144, 144);
    font-size: 14px;
    align-self: flex-end;
  }

@media (max-width: 685px) {
    .header-widescreen {
        display: none;
    }
    .header-mobile {
        display: flex;
    }

    .footer-flex {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}

@media (min-width: 685.02px) {
    .header-widescreen {
        display: flex;
    }
    .header-mobile {
        display: none;
    }

    .footer-flex {
        display: flex;
    }
    .footer-mobile {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}