.about-text-container {
    padding: 30px;
    justify-self: center;
    /* background-color: rgba(136, 133, 133, 0.3);
    border: 1px solid rgba(173, 172, 172, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.about-grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 80%;

    align-self: center;
    justify-self: center;
}

.main-about {
    text-decoration: none;
    color: rgb(206, 206, 206);
    width: 100%;
    background-color: rgba(68, 92, 121, 1);
    min-height: 500px;
    padding-bottom: 20px;
}

.about-image {
    margin: 0;
    align-self: center;
}

.img-border {
    border: 2px solid rgb(211, 206, 206);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.about-element {
    font-size: 19px;
}

.main-skills {
    text-decoration: none;
    color: black;
    width: 100%;
    margin: 0px;
    background-color: white;
    min-height: 600px;
    padding: 20px 0;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
    gap: 10px;
    margin-left: 12%;
    margin-right: 12%;
}

.skill {
    font-size: 16px;
    color: rgb(85, 82, 82);
    justify-self: center;
    text-align: center;
    padding: 15px;
    margin: 5px;
    border: 1px solid rgba(173, 172, 172, 0.5);
    border-radius: 10px;
    width: 80px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 243, 243, 0.85);
}

.skill:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-line {
    width: 70%;
    opacity: 0.5;
    color: rgba(173, 172, 172);
}

.projects-image-areas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    width: 100%;
    gap: 10px;
}

.projects-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px solid rgba(173, 172, 172, 0.5);
    padding: 15px;
    margin: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projects-element:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-hover-class {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
    align-self: center;
}

.projects-hover-class:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

.projects-text {
    text-decoration: none;
    color: rgb(41, 40, 40);
    font-size: 19px;
}

.project-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 3px; /* Add consistent spacing between items */
    justify-content: center; /* Center the grid items */
    align-items: center;
}

.project-skills-elem {
    color: rgb(78, 76, 76);
    font-size: 13px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(173, 172, 172, 0.5);
    border-radius: 10px;
    margin: 0;
    background-color: rgba(243, 243, 243, 0.85);
}

@media (max-width: 850px) {
    .projects-image-areas {
        display: block;
    }

    .projects-image {
        width: 200px;
        height: 200px;
    }
    .projects-element {
        margin-left: 6%;
        margin-right: 6%;
        grid-template-columns: 1fr;
    }

    .about-image {
        width: 280px;
        height: 280px;
    }
}

@media (min-width: 850.02px) {
    .projects-image-areas {
        display: grid;
    }

    .projects-image {
        width: 300px;
        height: 300px;
    }

    .projects-element {
        margin-left: 3%;
        margin-right: 3%;
        grid-template-columns: 1fr 1fr;
    }

    .about-image {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 1040px) {
    .about-image {
        justify-self: center;
    }

    .about-grid-box {
        padding-left: 0;
        gap: 0px;
    }
}
@media (min-width: 1040.02px) {
    .about-image {
        justify-self: left;
        margin-left: 5vh;
    }

    .about-grid-box {
        padding-left: 40px;
        gap: 80px;
    }
}