.main-website {
    text-decoration: none;
    color: rgb(206, 206, 206);
    width: 100%;
    background-color: rgb(38, 41, 44);
    min-height: 100px;
    justify-content: center;
}


.hr-vertical-line {
    width: 4px;
    height: 100%;
    background-color: rgb(209, 203, 203);
    margin: 0px auto;
    border: 0px;
}

.hr-horizontal-line {
    width: 5%;
    height: 4px;
    background-color: rgb(209, 203, 203);
    margin: 0px auto;
    border-radius: 3px;
    border: 0px;
}

.vertical-timeline {
    height: 200px;
    background-color: rgba(43, 41, 41, 0.8);
    padding: 40px 0;
    position: relative; /* Make this the reference point for absolute positioning */
}

.project-container {
    position: absolute;
    left: calc(50% - 22px);
}

.project-circle {
    position: relative;
    height: 44px;
    width: 44px;
    background-color: rgb(209, 203, 203);
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    top: 50%;
}

.project-logo {
    position: relative;
    z-index: 3;
    top: -2px;
    right: 45.6px;
}

.left-hr {
    width: 30vw;
    height: 3px;
    position:relative;
    z-index: 1;
    margin: 0px;
    border: 0px;
    background-color: rgb(209, 203, 203);
    border-radius: 3px;

    top: -27px;
    left: 22px;
    transform: translateX(-100%);
}

.right-hr {
    width: 30vw;
    height: 3px;
    position:relative;
    z-index: 1;
    margin: 0px;
    border: 0px;
    background-color: rgb(209, 203, 203);
    border-radius: 3px;

    top: -27px;
    left: 22px;
}

.project-left {
}