<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="footer-element">
            <div class="footer-widescreen">
                <div class="footer-flex">
                    <div class="elem footer-title">
                        <a href="#">Logan Gillett</a>
                        <a href="https://uwaterloo.ca/engineering/" target="_blank">
                            <img class="footer-waterloo" src="resources/waterlooEng.png" alt="UWaterloo-Logo" title="I'm a Computer Engineer at UWaterloo!" loading="lazy" />
                        </a>
                    </div>
                    <div class="footer-links">
                        <div class="elem footer-item" style="margin-top: 20px">
                            <a href="projects.html">Projects</a>
                            <a href="about.html">About</a>
                            <figure>
                                <a href="https://www.linkedin.com/in/logan-gillett-941797327/" target="_blank">
                                    <img src="resources/linkedin.png" alt="LinkedIn" title="LinkedIn" width="25" height="25" loading="lazy" />
                                </a>
                            </figure>
                        </div>
                        <div class="elem footer-item">
                            <a href="career.html">Career</a>
                            <a href="contact.html">Contact</a>
                            <figure>
                                <a href="https://github.com/LogaGill489" target="_blank">
                                    <img src="resources/github.png" alt="GitHub" title="GitHub" width="25" height="25" loading="lazy" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="elem footer-fineprint">
                    <p>&copy; 2025 - Logan Gillett</p>
                    <address style="line-height: 15px">
                        Conrad Grebel University College, 140 Westmount Rd N, Waterloo, ON N2L 3G6
                    </address>
                </div>
            </div>
        </div>        
    </footer>
</body>
</html>