<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <!-- Header Component -->
    <header>
        <!-- Widescreen Header -->
        <div class="header-container">
            <div class="header-widescreen elem">
                <div class="header-title-element">
                    <a href="index.html">Logan Gillett</a>
                </div>
                <div class="links">
                    <a href="projects.html" class="nav-link">Projects</a>&nbsp;
                    <a href="about.html" class="nav-link">About</a>&nbsp;
                    <a href="career.html" class="nav-link">Career</a>&nbsp;
                    <a href="contact.html" class="nav-link">Contact</a>&nbsp;
                </div>
                <div class="headerImages">
                    <figure>
                        <a href="https://www.linkedin.com/in/logan-gillett-941797327/" target="_blank">
                            <img src="resources/linkedin.png" alt="LinkedIn" title="LinkedIn" width="25" height="25" loading="lazy" />
                        </a>
                        &nbsp;
                        <a href="https://github.com/LogaGill489" target="_blank">
                            <img src="resources/github.png" alt="GitHub" title="GitHub" width="25" height="25" loading="lazy" />
                        </a>
                    </figure>
                </div>
            </div>
            <!-- Mobile & Condensed Screen-->
            <div class="header-mobile elem">
                <div class="header-title-element">
                    <a href="index.html">Logan Gillett</a>
                </div>
                <div class="header-mobile-images">
                    <div class="mobile-header-link">
                        <a href="https://www.linkedin.com/in/logan-gillett-941797327/" target="_blank">
                            <img src="resources/linkedin.png" alt="LinkedIn" title="LinkedIn" width="25" height="25" loading="lazy" />
                        </a>
                        &nbsp;
                        <a href="https://github.com/LogaGill489" target="_blank">
                            <img src="resources/github.png" alt="GitHub" title="GitHub" width="25" height="25" loading="lazy" />
                        </a>
                    </div>
                    <div class="header-dropbar">
                        <img src="resources/dropDownImg.png" alt="Links" title="Links" width="25" height="25"
                            class="dropDownImg" loading="lazy" />
                        <div class="dropdown-links">
                            <a href="projects.html" class="nav-link">Projects</a>
                            <a href="about.html" class="nav-link">About</a>
                            <a href="career.html" class="nav-link">Career</a>
                            <a href="contact.html" class="nav-link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-central-title elem">
                <h2>Home</h2>
            </div>
        </div>
    </header>
</body>

</html>